<ng-progress></ng-progress>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Usuario</label>
                          <input formControlName="username" name="username" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  f.username.errors }" #input  />
                          <div *ngIf="submitted &&  f.username.errors" class="invalid-feedback">
                              <div *ngIf="submitted && f.username.errors.required">Debe ingresar su nombre de usuario</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Clave</label>
                          <input formControlName="password" name="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  f.password.errors }" />
                          <div *ngIf="submitted &&  f.password.errors" class="invalid-feedback">
                              <div *ngIf="submitted && f.password.errors.required">Debe ingresar la clave</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <button *ngIf="!ready" class="btn btn-primary">Ingresar</button>
                          <span *ngIf="loader" >Iniciando sesión...</span>
                      </div>
                  </form>

                
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
