<div class="animated fadeIn" *ngIf="loaded">
  <div *ngIf="!organismos.length" >
    No hay organismos asignados al usuario {{user.name}}
  </div>
  <div class="row">
    <div class="col">
      <h1>Organismos asignados</h1>
    </div>
  </div>
  <div class="row" *ngIf="organismos.length">
    <div class="icards col-sm-6 col-lg-3" *ngFor="let item of organismos; let i = index">
      <a routerLink="/inicio/o/{{item.alias}}">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
            <div class="brand-title" height="90">{{item.name}}</div>
        </div>
        <!--
        <div class="brand-card-body">
          <div>
            <div class="text-value">0</div>
            <div class="text-uppercase text-muted small">Incl.</div>
          </div>
          <div>
              <div class="text-value">0</div>
              <div class="text-uppercase text-muted small">Mods.</div>
          </div>
          <div>
              <div class="text-value">0</div>
              <div class="text-uppercase text-muted small">Excl.</div>
          </div>
          
        </div>
        -->
      </div>
      </a>
    </div>
  </div>
</div>

